---
layout: archive
---

{{ content }}
<div class="home_hello">
  <div>
    <p>Hello,</p>
    <p>I'm David Shin.</p>
    <p>Developer,</p>
    <p>8 years of exp.</p>
  </div>
</div>
<div class="home_languages">
  <h3>What I've Used Before</h3>
  <h4>Languages</h4>
  <ul>
    <li>Typescript</li>
    <li>Python</li>
    <li>Java</li>
    <li>Dart</li>
    <li>R</li>
  </ul>
  <h4>Web Framework & Libraries</h4>
  <ul>
    <li>React</li>
    <li>Express.js</li>
    <li>Next.js</li>
    <li>Svelte</li>
    <li>Spring</li>
    <li>Flask</li>
  </ul>
  <h4>Cross-Platform</h4>
  <ul>
    <li>Flutter</li>
    <li>React Native</li>
  </ul>
  <h4>DBMS</h4>
  <ul>
    <li>MySQL</li>
    <li>Firebase</li>
    <li>SQLite</li>
    <li>MongoDB</li>
  </ul>
  <h4>Data tools & libraries</h4>
  <ul>
    <li>Pandas</li>
    <li>Matplotlib</li>
    <li>Seaborn</li>
    <li>NumPy</li>
  </ul>
  <h4>ML tools & libraries</h4>
  <ul>
    <li>OpenCV</li>
    <li>Keras</li>
    <li>scikit-learn</li>
    <li>Tensorflow</li>
  </ul>
  <h3>Currently Learning & Interested in</h3>
  <ul>
    <li>Basic Algorithm</li>
    <li>Docker</li>
    <li>Kubernetes</li>
    <li>PyTorch</li>
    <li>Reinforcement Learning</li>
    <li>Explainable AI</li>
    <li>Transfer Learning</li>
    <li>Multimodal Learning</li>
  </ul>
</div>

<h3 class="archive__subtitle">
  {{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}
</h3>

{% if paginator %} {% assign posts = paginator.posts %} {% else %} {% assign
posts = site.posts %} {% endif %} {% assign entries_layout = page.entries_layout
| default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %} {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
